[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "xvfbwrapper"
version = "0.2.13"
description = "Manage headless displays with Xvfb (X virtual framebuffer)"
license = "MIT"
license-files = ["LICENSE"]
authors = [{name = "Corey Goldberg"}]
maintainers = [{name = "Corey Goldberg"}]
readme = "README.md"
requires-python = ">= 3.9"
keywords = ["Xvfb", "headless", "display", "X11", "X Window System"]
classifiers = [
        "Environment :: Console",
        "Environment :: X11 Applications",
        "Intended Audience :: Developers",
        "Intended Audience :: End Users/Desktop",
        "Intended Audience :: Information Technology",
        "Operating System :: POSIX",
        "Operating System :: POSIX :: Linux",
        "Operating System :: Unix",
        "Programming Language :: Python",
        "Programming Language :: Python :: 3",
        "Programming Language :: Python :: 3.9",
        "Programming Language :: Python :: 3.10",
        "Programming Language :: Python :: 3.11",
        "Programming Language :: Python :: 3.12",
        "Programming Language :: Python :: 3.13",
        "Topic :: Software Development :: Libraries :: Python Modules",
]

[project.urls]
homepage = "https://github.com/cgoldberg/xvfbwrapper"
source = "https://github.com/cgoldberg/xvfbwrapper"
download = "https://pypi.org/project/xvfbwrapper"

[tool.setuptools]
py-modules = ["xvfbwrapper"]

[tool.black]
line-length = 88
target-version = ["py39"]

[tool.isort]
profile = "black"
py_version = 39

[tool.autoflake]
in-place = true
max-line-length = ["88"]
min-python-version = ["3.9"]
remove-all-unused-imports = true
remove-duplicate-keys = true
remove-unused-variables = true
