{% extends "default/module.html.jinja2" %}

{% block nav_footer %}
<hr>
© <a href="https://github.com/cgoldberg" style="display: inline; color: #3660a5">Corey Goldberg</a><br>
<a href="https://github.com/cgoldberg/xvfbwrapper" style="display: inline; color: #3660a5">GitHub</a> ·
<a href="https://pypi.org/project/xvfbwrapper" style="display: inline; color: #3660a5">PyPI</a>
{% endblock %}
